* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}


main {
    height: 100%
    padding-bottom: -60px;
}


#nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#nav-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

#gmail {
    width: 50vw;
    text-align: right;
}


a {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 14px;
    
}

a:hover {
    text-decoration:underline;
}

#search-section {
    text-align: center;
    padding-top: 150px;
    padding-bottom: -60px;
}

#search-bar {
    border-radius: 20px;
    border-style:solid;
    border-color: #f1f1f1;
    width: 400px;
    height: 30px;
    text-align: center;
}

#buttons ul {
    text-align: center;
    list-style: none;
}

#buttons li {
    display: inline-block;
    padding: 30px;
    /* height: 40px;
    width: 140px;
    border-radius: 5px; */
}

#search, #lucky {
    background-color: #f1f1f1;
    border-style: none; 
    border-radius: 5px;
    height: 40px;
    width: 140px;
}

#search:hover, #lucky:hover {
    
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 5px;
}

#green {
    color:green;
}

#carbon {
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #808080;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#footer li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
}

.foot-links {
    color: #808080;
}

#footer {
    background-color: #f1f1f1;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

