* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#nav-bar {
    height: 80px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #70757a;
    margin: 50px 20px 20px 2px;
}

.material-icons-outlined {
    color:  #70757a;
    margin-right: -10px;
}

a:hover {
    text-decoration: underline;
}

#logo {
    margin-top: 10px;
}

#search-bar {
    border-style: groove;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 400px;
    }